<button class="floating-btn {{if this.isOpen 'open'}}" type="button" {{on "click" this.toggleSidebar}}>
  &#9776; 
</button>
<div class="sidebar {{if this.isOpen 'open'}}">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>